<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" id="AspirePositivy">
 <!--  <display-name>HelloWorld Application</display-name>
  <description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.login.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/l</url-pattern>
  </servlet-mapping> -->
  
  
  
   <display-name>MVCApplication</display-name>
  <servlet>
        <display-name>l</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.login.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>r</display-name>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.login.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/l</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/r</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

</web-app>